{% load staticfiles %}
{% include 'app/head_css.html' %}
{% include 'app/nav.html' %}

{% block content %}

{% endblock %}


Testing... it Worked
<div class="dropdown">
	
<form action="{% url 'app:catchparams' %}" method="get">



{% csrf_token %}

<select id="state_id" name="state_id">
{% for state in states %}
    <option value="{{ state }}">{{ state }}</option>

{% endfor %}

</select >


<select id="skill_id" name="skill_id">
{% for skill in skills %}
    <option value="{{ skill }}">{{ skill }}</option>

{% endfor %}
</select>

<input type="submit" value="label">
</form>

</div>




